.item-promo .text .info {
    padding: 10px 15px 0 30px;
}
.container .content-right .logo-btn{
    right: 0;
}
.container .content-right{
    width: 100%;
}
.read-more .item .text h2{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.read-more.all-news.results{
    padding: 20px 6% 200px;
}
.read-more a{
    text-decoration: none;
    color: inherit;
}
.container .content-left ul.menu-charters li a.item_menu-0:before{
    padding-right: 27px;
}
.container .content-left ul.menu-charters li a.item_menu-2:before{
    padding-right: 30px;
}
.container .content-left ul.menu-charters li a.item_menu-3:before{
    padding-right: 25px;
}
.container header .nav .nav-mobile ul li.home.active {
    background-image: url(../img/icons/home-h.png);
    background-repeat: no-repeat;
    background-position: 50% 20px;
}
.results-none{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20% 0;
}
.results-none__text{
    text-align: center;
}
.results-none__text h2{
    font-size: 146px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 70px;
}
.results-none__text p{
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0 50px;
    line-height: 1.5;
}
.results-none__text button {
    font-size: 17px;
    font-weight: bold;
    border: none;
    background: linear-gradient(#0075c0, #0792f7);
}
.results-none__text button:hover {
    background: linear-gradient(#0792f7, #0075c0);
}
.results-none__text button a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    height: 100%;
    width: 100%;
    padding: 15px 35px;
}
.results-404 .results-none__text p{
    padding: 5px;
}
.results-404 .results-none__text p:nth-child(3){
   color: #7ac943;
}
.results-404 ul{
    display: flex;
    font-size: 17px;
}
.results-404 li{
    list-style-type: none;
    color: #3fa9f5;
    padding: 30px 10px;
    font-weight: bold;
}
.results-404 li a{
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 1400px) {
    .item {
      width: calc(50% - 20px);
    }
    .item .text .wrap-star .star {
        padding-top: 0;
        padding-bottom: 10px;
    }
    .item .text .wrap-star .see {
        padding-top: 0;
      }
      .item.item-promo .text {
        padding-bottom: 0;
      }
      .item.item-soc .text {
        padding: 20px;
        padding-bottom: 10px;
      }
      .read-more .item .wrap-star .star {
        padding-top: 15px;
      }
      .read-more .item .wrap-star .see {
        padding-top: 15px;
      }
  }
@media screen and (max-width: 1200px){
    .results-none{
        padding: 40px 15% 0;
    }
    .container header .nav ul li.home a {
        padding: 49px 15px 15.5px;
    }
    .container header .menu-mob__link {
        display: block;
        position: absolute;
    }
    /* .masonry{
        margin-left: 35px;
    } */
}
@media screen and (max-width: 1024px){
    .results-none{
        padding: 40px 10% 0;
    }
    /* .container .menu-mob__link{
        position: static;
    } */
}
@media screen and (max-width: 768px){
    .item {
        width: 84%;
      }
    .results-none{
        flex-flow: column-reverse;
        padding: 150px 10% 0;
    }
    .results-none__text button {
       margin-bottom: 50px;
    }
    .results-404 ul{
        flex-flow: column;
    }
    .results-404 li{
        padding: 10px 10px;
        font-weight: bold;
    }
    .results-404 button {
        margin-top: 30px;
    }
    .container header .nav-mobile .nav-list-1.menu-charters li a.item_menu-0:before{
        padding-right: 25px;
    }
    .container header .nav-mobile .nav-list-1.menu-charters li a.item_menu-2:before{
        padding-right: 27px;
    }
    .container header .nav-mobile .nav-list-1.menu-charters li a.item_menu-3:before{
        padding-right: 24px;
    }
    
}
@media screen and (max-width: 650px){
    .footer-item ul{
        display: flex;
        flex-flow: column;
    }
    .footer-item .list {
        flex-flow: column;
    }
    .container header .nav ul li.home a {
        padding: 49px 6px 15.5px;
    }
    .container header .nav-mobile .nav-list-1.menu-charters {
        left: 112px;
    }
}
@media screen and (max-width: 500px){
    .read-more.all-news.results{
        padding-top: 90px;
    }
    .container .menu-mob__link{
        position: fixed;
    }
    /* .container header .nav ul li.home a {
        padding: 49px 6px 14.6px;
    } */
    /* .container header .nav-mobile .nav-list-1.menu-charters {
        left: 113px;
    } */
}
@media screen and (max-width: 400px){
     .container header .nav ul li.home a {
        padding: 49px 6px 15.5px;
        font-size: 14px;
    }
    .container header .nav-mobile .nav-list-1.menu-charters {
        left: 112px;
    }
}