.icon-ads {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow_back {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow_right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow_small {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-auth {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cancel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-card {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-chat {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dashboard {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-export {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-filter {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-finances {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-goods {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-hamburger {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-meest {
  width: 2.44em;
  height: 1em;
  fill: initial;
}
.icon-money {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-notification {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-orders {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-person {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-range {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-round-swap {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shipping {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-time {
  width: 1em;
  height: 1em;
  fill: initial;
}
