@import 'media.scss';
@import 'var.scss';
@import '../sprites/view/sprite.scss';

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: $blue;
  cursor: pointer;
}

.btn {
  padding: 13px 16px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  width: max-content;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;

  &-primary {
    border: 1px solid $blue;
    background-color: $white;
    color: $blue;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &-gold {
    border: 1px solid transparent;
    background: linear-gradient(90deg, $gold-dark 0%, $gold-light 100%);
    color: $white;

    &:hover {
      background: linear-gradient(90deg, $gold-dark 0%, $gold-dark 100%);
    }
  }

  &-blue {
    border: 1px solid transparent;
    background: $blue;
    border-radius: 4px;
    color: $white;
    width: auto !important;

    &:hover {
      opacity: 0.8;
    }
  }
}

.payment {
  display: grid;
  grid-template-columns: 324px auto;
  max-width: 848px;
  min-height: 554px;
  margin: 85px auto 0;
  border: 1px solid $gold;
  border-radius: 8px;

  @include r(768){
    min-width: auto;
    grid-template-rows: 386px 460px;
    grid-template-columns: auto;
    margin: 30px 40px;
    border: 1px solid $grey;
    border-radius: 0 0 8px 8px;
  }

  @include r(480){
    grid-template-rows: 186px 500px;
    margin: 20px 16px;
  }

  &__item {
    padding: 48px 24px 24px;

    @include r(768) {
      padding: 48px 48px 24px;
    }

    @include r(600) {
      padding: 48px 24px 24px;
    }

    @include r(480) {
      padding: 48px 16px 24px;
    }
  }

  &__about {
    background: $bg url('../img/bg.png') no-repeat 0 100%;
    background-size: contain;
    color: $white;
    border-radius: 8px 0 0 8px;

    @include r(768){
      background: $bg url('../img/bg-tab.png') no-repeat 0 100%;
      background-size: cover;
      border-radius: 0;
    }

    @include r(480){
      background: $bg url('../img/bg-mob.png') no-repeat 0 100%;
      background-size: cover;
    }

    .logo {
      display: block;
      margin-bottom: 24px;

      @include r(768){
        margin-bottom: 24px;
      }

      &-title {
        margin-bottom: 16px;

        @include r(768){
          margin-bottom: 24px;
        }
      }
    }

    .panel {
      display: grid;

      @include r(768){
        grid-template-columns: 50% 50%;
        grid-row-gap: 10px;
      }

      @include r(480){
        display: none;
      }

      &__heading {
        margin-top: 5px;

        span {
          color: $white;
          display: block;
          padding: 12px 24px 12px 0;
          margin-left: 35px;
          position: relative;
          font-weight: 500;
          line-height: 24px;
          cursor: pointer;
          transition: 0.3s;

          img {
            margin-right: 10px;
          }

          &:after {
            content: "";
            position: absolute;
            top: 20px;
            right: 4px;
            border: 5px solid transparent;
            border-top: 5px solid $white;
            transition: 0.3s;

            @include r(768) {
              border: none;
            }
          }

          &:before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 12px;
            left: -35px;
          }

          @include r(768) {
            cursor: default;
          }
        }

        &.active {
          span:after {
          transform: rotate(180deg);
        }
      }

      .icon-1 {
        &:before {
          @extend %svg-icon-1;
          @extend %svg-icon-1-dims;
          top: 18px;
        }
      }

      .icon-2 {
        &:before {
          @extend %svg-icon-2;
          @extend %svg-icon-2-dims;
        }
      }

      .icon-3 {
        &:before {
          @extend %svg-icon-3;
          @extend %svg-icon-3-dims;
        }
      }

      .icon-4 {
        &:before {
          @extend %svg-icon-4;
          @extend %svg-icon-4-dims;
        }
      }
    }

    &__collapse {
      display: none;

      @include r(768) {
        display: none !important;
      }
    }

    &__body {
      line-height: 24px;
      padding-top: 8px;
    }
  }
}

  &__info {
    .tabs {
      margin: 0;
      padding: 0;
      list-style: none;

      .tab-link {
        font-weight: 500;
        background: none;
        color: #63708A;
        display: inline-block;
        padding: 0 16px 10px;
        cursor: pointer;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 0;
          background-color: $blue;
        }

        &.current{
          color: #010E28;
          position: relative;

          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $blue;
            transition: 0.3s;
          }
        }
      }
    }

    .tab-content{
      display: none;
      padding: 15px 0;

      @include r(768) {
        padding: 24px 0 0;
      }

      &.current{
        display: grid;
        grid-auto-rows: 10% 35% 45%;
        height: 100%;
        align-content: space-between;

        @include r(768) {
          grid-auto-rows: 10% 38% 46%;
        }

        @include r(480) {
          grid-auto-rows: 20% 36% 48%;
        }

        form {
          display: grid;
        }

        label {
          display: block;
          padding-bottom: 10px;
          font-size: 12px;
          font-weight: bold;
        }
        .input-group {
          position: relative;

          input {
            width: calc(100% - 60px);
            border: 1px solid $grey;
            border-radius: 5px;
            outline: none;
            padding: 11px 44px 11px 16px;
            position: relative;

            &:focus {
              border: 1px solid #ccc;
            }

            &::placeholder {
              color: #C1CDE6;
            }
          }

          &__row {
            display: grid;
            grid-template-columns: 30% 30%;
            grid-column-gap: 20px;

            @include r(480){
              grid-template-columns: 48% 48%;
              grid-column-gap: 0;
              justify-content: space-between;
            }
          }

          img {
            position: absolute;
            top: 30px;
            right: 15px;
          }

          &:after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            @extend %svg-lock-grey;
            @extend %svg-lock-grey-dims;
            position: absolute;
            right: 12px;
            top: 30px;
          }
        }

        .tab-top {
          display: grid;
          grid-template-columns: 50% 50%;

          @include r(480){
            display: block;
          }

          &__icons {
            display: grid;
            grid-template-columns: 48px 66px auto;
            align-self: center;

            .master {
              @extend %svg-master;
              @extend %svg-master-dims;
            }

            .visa {
              @extend %svg-visa;
              @extend %svg-visa-dims;
              align-self: center;
            }

            .amex {
              @extend %svg-amex;
              @extend %svg-amex-dims;
            }
          }

          &__lock {
            align-self: center;
            justify-self: self-end;
            position: relative;

            &:before {
              content: '';
              display: block;
              @extend %svg-lock-blue;
              @extend %svg-lock-blue-dims;
              position: absolute;
              left: -24px;
              top: -2px;

              @include r(480){
                left: 0;
                top: 14px;
              }
            }

            span {
              align-self: center;
              font-size: 12px;
              color: $blue;

              @include r(480){
                padding-left: 30px;
              }
            }

            @include r(480){
              padding-top: 16px;
            }
          }

          &__line {
            grid-template-columns: auto;
            color: #63708A;
            line-height: 24px;
          }
        }

        .tab-center {
          align-self: self-start;
          width: 100px;
          margin: 0 auto;
        }

        .tab-bottom {
          &__total {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 50% 50%;
            font-weight: 500;
            margin-bottom: 50px;
            padding-top: 24px;
            position: relative;

            @include r(768){
              margin-bottom: 24px ;
            }

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 1px;
              background-color: $grey;
            }

            span {
              &:nth-child(2) {
                justify-self: end;
              }
            }
          }

          &__btn {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 50% 50%;
            justify-content: space-between;
            padding-bottom: 16px;
            position: relative;

            &:after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: $grey;
            }

            .btn-gold {
              justify-self: end;
            }
          }

          &__agree {
            font-size: 12px;
            padding-top: 16px;
          }
        }
      }
    }

    @include r(768){
      padding: 24px;
    }

    @include r(480){
      padding: 16px;
    }
  }
}



