$primary-color: #e9eaf4;
$secondary-color: #9293a3;

$gradient-color: linear-gradient(#e30077, #9d0052);

$popup-background: #0c0c10;
$tips-background: rgba(10, 10, 11, 0.4);

$white: #fcfcfc;
$black: #181818;

$grey-dark: #1C1C24;
$grey-darken: #202028;
$grey-light: #2A2C36;

$cta-color: #c00165;
$text-selected: #3b9eff;