:root {
  --white: #fff;
  --black-primary: #000000;
  --black-secondary: #272425;
  --gray-300: #edeeea;
  --gray-200: #202020;
  --gray-text: #323031;
  --gray-100: #27282d;
  --gray-10: #888888;
  --gray-20: #d7d8d4;
  --gray-30: #c2c6c8;
  --gray-40: #423f40;
  --gray: #525c69;
  --gray-light: #cccccc;

  --main: #ffe800;
  --red: #ff0000;
  --orange: #d98c70;
  --blue: #c6e0f8;
  --blue-light: #e0ebf1;
  --blue-100: #58aceb;

  --health: #c6e0f8;
  --finance: #006837;
  --military: #4f5946;
  --information: #c27a6b;
}
