.icon-blog {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.icon-blogs-lg {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-dots {
  width: 4.38em;
  height: 1em;
  fill: initial;
}
.icon-expand {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-feeds-lg {
  width: 1.21em;
  height: 1em;
  fill: initial;
}
.icon-feeds {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-groups {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-health {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-history {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-level {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo-main {
  width: 4.19em;
  height: 1em;
  fill: initial;
}
.icon-logo.png {
  width: 4.19em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-mobile {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-nav {
  width: 4.38em;
  height: 1em;
  fill: initial;
}
.icon-notif {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-posts {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-proworkers {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
