
$main_color: #3ec7c2;

$color_icon: #276b69;

$color_icon-soc: #229692;

$text_color: #27292b;

$footer_bg: #1b1b1b;

$input_focus: #c1c1c1;

$placeholder_color: #c4c4c4;

$menu_color: #ffffff;

$contact_bg: #f9f9f9;

$scroll_color: #444444;

$title_color: #27292b;

$invalid_color: #ff0000;

$font_main:  'Raleway', sans-serif;
