.table
    .table__head
        span Заказ
        span Дата
            +icon('arrow_small', modClass='icon--table')
        span Сумма
            +icon('arrow_small', modClass='icon--table')
        span.u-text-center Товары
            +icon('arrow_small', modClass='icon--table')

    .table__content
        +order