-
  var filters = [
    {
      path: '/',
      text: 'Статус',
      icon: 'time'
    },
    {
      path: '/',
      text: 'Доставка и оплата',
      icon: 'shipping'
    },
    {
      path: '/',
      text: 'Дата',
      icon: 'range'
    },
    {
      path: '/',
      text: 'Покупатель',
      icon: 'person'
    },
    {
      path: '/',
      text: 'Сумма',
      icon: 'money'
    },
    {
      path: '/',
      text: 'Товар',
      icon: 'goods'
    }
  ]
