-
  var navs = [
    {
      path: '/',
      text: 'Панель управления',
      icon: 'dashboard'
    },
    {
      path: '/',
      text: 'Товары',
      icon: 'goods'
    },
    {
      path: '/',
      text: 'Заказы',
      icon: 'orders'
    },
    {
      path: '/',
      text: 'Финансы',
      icon: 'finances'
    },
    {
      path: '/',
      text: 'Клиенты',
      icon: 'person'
    },
    {
      path: '/',
      text: 'Реклама',
      icon: 'ads'
    },
    {
      path: '/',
      text: 'Настройки',
      icon: 'settings'
    }
  ]
