-
  var orders = [
    {
      path: '/',
      title: '110086382',
      time: '13:20',
      date: '20/07/18',
      total: '400000 грн',
      oldTotal: '500000 грн',
      icon: 'card',
      icon2: 'meest',
      icon3: 'chat',
      subtitle: 'Данные подтверждены. Ожидает отправки',
      productNum: '2',
      product: 'товара'
    },
    {
      path: '/',
      title: '110086382',
      time: '13:20',
      date: '20/07/18',
      total: '40000 грн',
      oldTotal: '50000 грн',
      icon: 'card',
      icon2: 'meest',
      icon3: 'chat',
      subtitle: 'Данные подтверждены. Ожидает отправки',
      productNum: '2',
      product: 'товара'
    },
    {
      path: '/',
      title: '110086382',
      time: '13:20',
      date: '20/07/18',
      total: '4000 грн',
      oldTotal: '5000 грн',
      icon: 'card',
      icon2: 'meest',
      icon3: 'chat',
      subtitle: 'Данные подтверждены. Ожидает отправки',
      productNum: '2',
      product: 'товара'
    },
    {
      path: '/',
      title: '110086382',
      time: '13:20',
      date: '20/07/18',
      total: '400 грн',
      oldTotal: '500 грн',
      icon: 'card',
      icon2: 'meest',
      icon3: 'chat',
      subtitle: 'Данные подтверждены. Ожидает отправки',
      productNum: '2',
      product: 'товара'
    },
  ]
