
$main_color: #354a9e;

$text_color: #1f2a50;

$footer_bg: #131b36;

$input_focus: #3e599e;

$placeholder_color: #c4c4c4;

$menu_color: #8a8a8a;

$contact_bg: #f9f9f9;

$scroll_color: #444444;

$invalid_color: #ff0000;

$font_main: 'Montserrat';
