@import 'mixin';
@import 'var';

* {margin: 0;padding: 0;outline: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:after, *:before { -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display: block;}
.clear {display: block;	}
.clear::after {clear: both;content: ".";display: block;height: 1px;visibility: hidden;}
ul {list-style-type: none;margin: 0;padding: 0;}
a {text-decoration: none;color: inherit;}


body {
  font-size: 16px;
  font-family: 'Montserrat';
}
.wrap-width{
  max-width: 1920px;
  margin: 0 auto;
  &-1{
    max-width: 1140px;
    margin: 0 auto;
    @include media((
            max-width: (xlg: 800px, lg: 700px, md: 600px),
            padding: (sm: 0 10px, xs: 0 10px)
    ));
  }
}
h2{
  text-transform: uppercase;
  font-size: 25px;
  color: $main_color;
  font-weight: bold;
  text-align: center;
  padding: 40px;
  position: relative;
  @include media((
          font-size: (sm: 18px),
          padding: (sm: 20px)
  ));
  &:before{
    content: '';
    display: block;
    height: 2px;
    width: 70px;
    color: $main_color;
    background-color: $main_color;
    position: absolute;
    left: calc(50% - 170px);
    margin-bottom: 20px;
    top: 20px;
    @include media((
            width: (sm: 50px),
            top: (sm: 10px)
    ));
    @media screen and (max-width: 640px){
      left: calc(50% - 120px);
    }
  }
  &:after{
    content: '';
    display: block;
    height: 2px;
    width: 70px;
    color: $main_color;
    background-color: $main_color;
    position: absolute;
    right: calc(50% - 170px);
    margin-top: 20px;
    bottom: 20px;
    @include media((
            width: (sm: 50px),
            bottom: (sm: 10px)
    ));
    @media screen and (max-width: 640px){
      right: calc(50% - 120px);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  text-align: center;
  height: 90px;
  width: 100%;
  transition: top 0.5s;
  z-index: 100;
  @include media((
          height: (md: 60px),
          //top: (md: 0!important)
  ));
  &-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .logo-main{
    img{
      width: 100px;
      @include media((
              width: (md: 70px)
      ));
    }
  }
  .wrap-mob_menu{
    display: none;
    @include media((
            display: (md: block)
    ));
  }
  &__nav {
    display: flex;
    //margin-right: 100px;
    align-items: center;
    @include media((
            display: (md: none)
    ));

    &-menu {
      margin: 0 15px;
      padding: 12px 0;
      color: #8a8a8a;
      //&.active {
      //  color: #354A9E;
      //}
      a {
        position: relative;
        &:before{
          display: block;
          content: '';
          position: absolute;
          top: 20px;
          width: 0%;
          height: 2px;
          background-color: $main_color;
        }
        &:hover {
          color: $main_color;
          &:before{
            display: block;
            content: '';
            width: 100%;
            transition: .5s;
          }

        }
        &.current{
          color: $main_color;
        }
      }
    }
  }
  .button_container {
    position: absolute;
    top: 18px;
    right: 5%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 200;
    transition: opacity .25s ease;
    &.active{
      .top{
        -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #FFFFFF;
        z-index: 200;
      }
      .middle{
        opacity: 0;
        background: $main_color;
        z-index: 200;
      }
      .bottom{
        -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #FFFFFF;
        z-index: 200;
      }
    }
    span {
      background: $main_color;
      border: none;
      height: 3px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .35s ease;
      cursor: pointer;
      z-index: 20000;
      &:nth-of-type(2) {
        top: 11px;
        z-index: 200;
      }
      &:nth-of-type(3) {
        top: 22px;
        z-index: 200;
      }
    }
  }
  .overlay {
    position: fixed;
    background: $text_color;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .35s;
    overflow: hidden;
    &.open{
      opacity: 0.98;
      visibility: visible;
      height: 100%;
      left: 0;
      width: 100vw;
      z-index: 100;
    }
    nav {
      position: relative;
      height: 70%;
      top: 120px;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      padding-left: 20px;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;
      li{
        display: block;
        padding: 20px 0;
        a {
          display: block;
          position: relative;
          color: #FFF;
          text-decoration: none;
          overflow: hidden;
          &:hover{
            color: #8a8a8a;
          }
        }
      }
    }
  }
}
main{
  .home{
    //height: calc(100vh - 90px);
    height: 638px;
    background: url('../images/banner-1.jpg') center center no-repeat;
    background-size: cover;
    //background-size: 100%;
    margin-top: 90px;
    color: #ffffff;
    position: relative;
    @include media((
            height: (sm: 100vh),
            margin-top: (md: 60px)
    ));
    &__text{
      display: flex;
      flex-flow: column;
      margin: auto;
      padding-top: 220px;
      @include media((
              padding-top: (lg: 160px, md: 120px)
      ));

      h1{
        font-size: 55px;
        font-weight: bold;
        @include media((
                font-size: (sm: 40px)
        ));
      }
      p{
        font-size: 18px;
        font-style: italic;
        line-height: 1.667;
        max-width: 700px;
        padding-top: 20px;
        @include media((
                font-size: (sm: 16px)
        ));
      }
    }
    .icon-scroll,
    .icon-scroll:before {
      position: absolute;
      left: 50%;
    }
    .icon-scroll {
      width: 26px;
      height: 46px;
      margin-left: -13px;
      top: 83%;
      margin-top: -23px;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
      border-radius: 25px;
      &:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        margin-left: -4px;
        top: 8px;
        border-radius: 4px;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: scroll;
        animation-name: scroll;
      }
      &:hover{
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
        transition: 0.5s;
        cursor: pointer;
      }
      .down{
        width: 26px;
        height: 46px;
        border-radius: 25px;
      }
    }
    @-webkit-keyframes scroll {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
      }
    }
    @keyframes scroll {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
      }
    }
  }
  .services{
    padding-top: 60px;
    padding-bottom: 30px;
    @include media((
            padding-top: (sm: 40px)
    ));
    p{
      text-align: center;
      padding: 30px 10px 60px;
      color: $text_color;
    }
    &__icon{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      &-item{
        width: 25%;
        text-align: center;
        @include media((
                width: (md: 50%)
        ));
        p{
          text-transform: capitalize;
          font-style: italic;
          font-weight: bold;
          color: $main_color;
        }
        &:first-child{
          img{
            width: 76px;
            @include media((
                    width: (sm: 56px)
            ));
          }
          p{
            text-transform: capitalize;
          }
        }
        &:nth-child(2){
          img{
            width: 81px;
            @include media((
                    width: (sm: 61px)
            ));
          }
          p{
            text-transform: none;
          }
        }
        &:nth-child(3){
          img{
            width: 63px;
            @include media((
                    width: (sm: 43px)
            ));
          }
        }
        &:nth-child(4){
          img{
            width: 73px;
            @include media((
                    width: (sm: 53px)
            ));
          }
        }
      }
    }
  }
  .about{
    background: url("../images/counter-bg-1.jpg") center center no-repeat;
    background-size: cover;
    //background-size: 100%;
    text-align: center;
    height: auto;
    padding: 40px 20px 100px;
    h2{
      color: #ffffff;
      &:before{
        background-color: #ffffff;
        left: calc(50% - 100px);
        @media screen and (max-width: 640px){
          left: calc(50% - 75px);
        }
      }
      &:after{
        background-color: #ffffff;
        right: calc(50% - 100px);
        @media screen and (max-width: 640px){
          right: calc(50% - 75px);
        }
      }
    }
    p{
      color: #ffffff;
      padding: 10px 15px;
      line-height: 1.5;
      @include media((
              padding: (md: 10px 0)
      ));
    }
  }
  .contact{
    padding-top: 40px;
    background-color: #f9f9f9;
    h2{
      &:before{
        left: calc(50% - 118px);
        @media screen and (max-width: 640px){
          left: calc(50% - 85px);
        }
      }
      &:after{
        right: calc(50% - 118px);
        @media screen and (max-width: 640px){
          right: calc(50% - 85px);
        }
      }
    }
    p{
      text-align: center;
      padding-top: 20px;
      padding-bottom: 60px;
      color: $text_color;
    }
    &__form{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: flex-start;
      @include media((
              flex-flow: (lg: column),
              align-items: (lg: center),
      ));
      .map{
        iframe{
          width: 555px;
          max-width: 555px;
          height: 350px;
          @include media((
                  width: (sm: 300px)
          ));
        }
      }
      .form {
        max-width: 555px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;
        padding-bottom: 150px;
        padding-top: 0;
        margin-left: 30px;

        @include media((
                padding-top: (lg: 30px),
                margin-left: (lg: 0)
        ));
        form {
          input {
            width: 100%;
            max-width: 555px;
            outline: none;
            border: 1px solid $main_color;
            border-radius: 5px;
            padding: 15px 0 15px 20px;
            margin: 0 0 20px;
            @include media((
                    //margin: (lg: 0)
            ));
            &:focus {
              //border-image: linear-gradient(to right, #52EAFF 0%, #2E66FF 100%);
              //border-image-slice: 1;
              border: 1px solid rgba(53, 74, 158, 0.5);
            }
          }

          input::-webkit-input-placeholder {
            color: #c4c4c4;
          }
          input:-moz-placeholder {
            color: #c4c4c4;
          }
          input::-webkit-input-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
          input::-moz-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
          input:-moz-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
          input:-ms-input-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
          input:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          input:focus::-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          input:focus:-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          input:focus:-ms-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          textarea {
            width: 100%;
            max-width: 555px;
            padding: 15px 20px;
            border: 1px solid $main_color;
            border-radius: 5px;
            resize: none;
            &:focus {
              border: 1px solid rgba(53, 74, 158, 0.5);
            }
          }
          textarea::-webkit-input-placeholder {
            color: #c4c4c4;
          }
          textarea:-moz-placeholder {
            color: #c4c4c4;
          }
          textarea::-webkit-input-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
          textarea::-moz-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
          textarea:-moz-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
          textarea:-ms-input-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
          textarea:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          textarea:focus::-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          textarea:focus:-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          textarea:focus:-ms-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          .btn {
            color: #ffffff;
            text-transform: uppercase;
            font-weight: bold;
            border: 1px solid $main_color;
            border-radius: 10px;
            padding: 15px 40px;
            margin: 40px auto 80px;
            background: $main_color;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: ease-in-out .3s;
            &:hover {
              background: #ffffff;
              border: 1px solid $main_color;
              color: $main_color;
              transition: ease-in-out .3s;
            }
          }
        }
      }
    }
  }
}
.footer{
  padding: 58px 0;
  background: $footer_bg;
  color: #ffffff;
  text-align: center;
  ul{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    @include media((
            flex-flow: (xs: column),
            align-items: (xs: flex-start),
            flex-wrap: (md: wrap),
            max-width: (md: 400px)
    ));
    li{
      padding: 0 15px;
      @include media((
              padding: (lg: 0 10px)
      ));
      &:hover{
        color: #8a8a8a;
      }
      @include media((
              padding: (md: 3px 15px)
      ));
    }
  }
  .rights{
    padding-top: 30px;
    font-size: 14px;
  }
}

input.req:invalid {
  border: 1px solid red !important;
}
textarea.req:invalid {
  border: 1px solid red !important;
}

#result{
  font-size: 14px;
  padding-bottom: 20px;
  font-style: italic;
}
.scrollToTop{
  color: #444444;
  font-size: 40px;
  opacity: 0.5;
  position: fixed;
  bottom: 50px;
  right: 40px;
  display: none;
  z-index: 10000;
  &:hover{
    text-decoration:none;
    opacity: 1;
  }
}
