:root {
  --white: #fff;
  --white-alpha-2: #{rgba(255, 255, 255, 0.2)};
  --black-primary: #221F1F;
  --black-secondary: #2D2A2A;
  --black-text: #333333;
  --black-700: #22272C;
  --gray-300: #E0E0E0;
  --gray-200: #E9E9E9;
  --gray-100: #F5F5F5;
  --gray-alpha-12: #{rgba(0, 0, 0, 0.12)};
  --gray: #979797;
  --gray-text-secondary: #777575;
  --gray-blue: #90A4AE;
  --green: #00A046;
}
