@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Regular'),
  url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DMMono';
  src: local('DMMono'),
  url('../../fonts/DMMono-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
