header.header
  .container.content
    .header__block
      a(href="/" class="header__logo" id="logo")
        |stripes
        span.color-main */
      .header__nav
        +nav(style=`cursor: url('https://webcodius.ru/images/cursor.cur'), pointer;`)

