section.section.section-main
  .container.content
    .main
      .main__wrapper
        .main__text
          p.title Can User Experience Be Beautiful?
          p.title An Analysis Of Navigation In
          p.title Portfolio Websites
          p.text
            span This is a different take on Responsive Web design. elephant in the room; that is, how can rely on media queries and
            a(href='/', class='link') breakpoints
            span without any concern for devices.
          p.text
            |Let’s start our journey by looking at the online tools such as Responsive Design Testing, Responsive.is, Responsinator and BriCSS.
            br
            |This article discusses how we can better.
          +button
        .main__video
          video(width="100%" height="100%" controls="controls" poster="img/video.png")
            source(src="video/duel.ogv" type='video/ogg; codecs="theora, vorbis"')
            source(src="video/duel.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
            source(src="video/duel.webm" type='video/webm; codecs="vp8, vorbis"')
            |Тег video не поддерживается вашим браузером.
            a(href="video/duel.mp4") Скачайте видео
