section.section.social
  .container.content
    .social__wrapper
      span.copyright © copyright
      .social__btns
        a(href='/')
          +icon('RSS', modClass = 'u-mr-16')
        a(href='/')
          +icon('Facebook', modClass = 'u-mr-16')
        a(href='/')
          +icon('Twitter')

