.icon-code {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lab {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-mobile {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-pie {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-RSS {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
