section.section.section-blog.blog
  .container.content.blog__list
    .blog__item
      .blog__header.profile
        .user__avatar
          img(src='https://picsum.photos/50/50')
        .user__name
          span.name James Smith
          .profile__data
            .location
              +icon('location')
              span location
        .user__creds
          .creds
            span.count 385
            +icon('level')
            span.title level
          .creds
            span.count 355
            +icon('proworkers')
            span.title proworkers
      .blog__img
        img(src='https://picsum.photos/500/300')
      .blog__share
      .blog__comments
        .avatar
          img(src='https://picsum.photos/30/30')
        .text
          span.name Name
          span.comment This is some awesome!

    .blog__item.blog__item--invert
      .blog__header.profile
        .user__avatar
          img(src='https://picsum.photos/50/50')
        .user__name
          span.name James Smith
          .profile__data
            .location
              +icon('location')
              span location
        .user__creds
          .creds
            span.count 385
            +icon('level')
            span.title level
          .creds
            span.count 355
            +icon('proworkers')
            span.title proworkers
      .blog__img
        img(src='https://picsum.photos/500/300')
      .blog__share
      .blog__comments
        .avatar
          img(src='https://picsum.photos/30/30')
        .text
          span.name Name
          span.comment This is some awesome!
