section.section.section-feeds
  .container.content.main
    .content__block
      .content__header
        //+icon('feeds', modClass='icon-lg')
        img(src='img/icons/feeds.png', class='icon-lg')
        img(src='img/title_feeds.png')
        button
          //+icon('dots')
          img(src='img/icons/dots.png')
      .content__list
        include _card
        include _card

