-
  var featureSection = [
    {
      icon: 'pie',
      title: "Marketing",
      titleColor: " Pains",
      text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt."
    },
    {
      icon: 'lab',
      title: "Creation",
      titleColor: " Lab",
      text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt."
    },
    {
      icon: 'code',
      title: "Responsive",
      titleColor: " Web",
      text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt."
    }
  ]
