-
  var featureSection = [
    {
      icon: 'growth',
      subtitle: "Lorem ipsum dolor",
      title: "First Parameter Value11",
      text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt dicta quam rerum tenetur",
      info: "75000+"
    },
    {
      icon: 'mobile',
      subtitle: "Lorem ipsum dolor ipsum",
      title: "Second Parameter Value",
      text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt dicta quam rerum tenetur",
      info: "0%"
    },
    {
      icon: 'figure',
      subtitle: "Lorem ipsum dolor",
      title: "Third Parameter Value",
      text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt dicta quam rerum tenetur",
      info: "$5000"
    },
    {
      icon: 'clock',
      subtitle: "Lorem ipsum dolor ipsum",
      title: "Fourth Parameter Value",
      text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt dicta quam rerum tenetur",
      info: "90+"
    },
  ]
