mixin history()
  .dropdown.js-button-wrapper.history
    button(class="dropdown__trigger js-dropdown-button" type="button")
      //+icon('history')
      img(src='img/icons/history.png', class='icon')
    ul.dropdown__list.js-dropdown-menu
      li.dropdown__item
        a(href="/" class="dropdown__button")
          img(src='https://picsum.photos/25/25', class='item__img')
          span James Smith
      li.dropdown__item
        a(href="/" class="dropdown__button")
          img(src='https://picsum.photos/25/25', class='item__img')
          span James Smith
      li.dropdown__item
        a(href="/" class="dropdown__button")
          img(src='https://picsum.photos/25/25', class='item__img')
          span James Smithhhhhhhh
