.card {

  &__item {
    background-color: var(--white);

    &--invert {
      background-color: var(--blue);

      .blog__comments {
        background-color: var(--white);
      }
    }
  }

  &__header {
    @include flex($align-items: center);
    @include make-spacer(px, 4);
    @include make-spacer(pt, 8);

    .user__creds {
      @include make-spacer(ml, 6);

      .creds {
        @include make-spacer(px, 2);

        border: none !important;
      }
    }

    .user__name {
      @include make-spacer(ml, 4);
    }
  }

  &__main {
    @include flex;
    @include make-spacer(p, 4);
    @include make-spacer(mb, 6);

    border-bottom: 1px solid var(--blue-light);

    @include media-breakpoint-down(sm) {
      flex-flow: column;
    }
  }

  &__img {
    @include make-spacer(mr, 4);

    img {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &__text {
    @include font-size(14px, 16px);

    font-family: 'DM Mono', monospace;

    span {
      @include make-spacer(mr, 2);
    }

    a {
      font-family: 'DM Mono', monospace;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

  &__title {
    @include flex(space-between, center);
    @include make-spacer(mb, 2);

    span {
      @include font-size(18px);

      font-weight: var(--bold);
    }
  }

  &__edit {
    @include flex;

    .time {
      @include font-size(10px, 16px);
      @include make-spacer(mr, 2);
    }

    .dots {
      @include size(18px, auto);
    }
  }

  &__comments {
    @include flex(flex-start, flex-start);
    @include make-spacer(py, 4);

    background-color: var(--blue-light);

    .avatar {
      @include size(30px);
      @include make-spacer(ml, 4);

      border: 1px solid var(--orange);
      border-radius: 5px;

      img {
        @include size(100%);

        border-radius: 5px;
      }
    }

    .text {
      @include flex(flex-start, flex-start, column);
      @include font-size(12px);
      @include make-spacer(ml, 4);

      .name {
        @include make-spacer(mb, 1);

        font-weight: var(--bold);
      }
    }
  }

  &:nth-child(2) {
    @include make-spacer(mt, 10);

    border-top: 1px solid var(--gray-30);
  }
}
